@charset "utf-8";

body {
	font-family: var(--vscode-markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif);
	font-size: 1rem;
	padding: 1rem;
	line-height: 1.4rem;
	word-wrap: break-word;
	background-color: #1e1e1e;
	color: #d4d4d4;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "Meiryo";
	padding: 0 12px;
}

a {
	text-decoration: none;
	color: #3387e7;
}

a:hover {
	text-decoration: underline;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

hr {
	border: 0;
	height: 1px;
	border-bottom: 1px solid;
}

h1 {
	padding-bottom: 0.6rem;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 1.6rem;
}

h1, h2, h3 {
	font-weight: 1;
}

.title {
	font-size: 2.1rem;
}